
<h1 id="title">Careers</h1>
<div class="content">
<p>Neopharma caters to several geographies across the globe and has a team of diverse and skilled individuals who strive to achieve the best. If you think you have the skills and qualifications to be a part of our team, fill in the below form.</p>
</div>

<div class="content1">
<img id="logo" src="assets/img/career1.jpg">

<div>
        <p>Name</p>
        <input style="font-size:30px;" type="text"/>
        <p>Email</p>
        <input style="font-size:30px;" type="text"/>
        <p>Phone</p>
        <input style="font-size:30px;" type="text"/>
        <br /><br />
        <button style="font-size:20px;">Submit</button>
</div>

</div>