<div class="aboutus">
<img id="aboutus-image" src="assets/img/aboutus1.png">
<div class="aboutus-word">
<h1>Our Company</h1>
<p>Neopharma commenced operations in 2003 and the first set of manufacturing facilities were planned on an investment outlay of USD25 million. The organization’s inspiration stems from the vision to locally manufacture world class pharmaceuticals at affordable prices. Neopharmas global presence is supported by 10 manufacturing facilities spread across 3 continents delivering branded and generic formulations, and active pharmaceutical ingredients (APIs). The therapeutic segments covered by our portfolio of over 100 high-quality molecules include anti-infectives, neurology, cardiology, orthopedics, diabetology, gastroenterology, urology, dermatology, gynecology, respiratory, dental and nutritionals. Driven by innovation, Neopharma lays strong emphasis on research, especially towards development of processes and products that are patent non-infringing. Neopharma currently caters to over 50 international markets including Middle East, Africa, CIS, Far East and South East Asia.</p>
</div>
</div>

<div class="aboutus-image2">
<img src="assets/img/aboutus2.png">
<img src="assets/img/aboutus3.png">
<img src="assets/img/aboutus4.png">
<img src="assets/img/aboutus5.png">
<img src="assets/img/aboutus6.png">
<img src="assets/img/aboutus7.png">
</div>

<div class="aboutus-content">

<div>
    <h1>Thought Leadership</h1>
    <b>Dr. B.R. Shetty</b><br />
    Founder and Chairman<br />
    <p>The ‘NMC success story’ has been a memorable one for those who were an integral part of this journey. Sparked by a vision and driven by determination and commitment, this group has transformed from a humble one-room clinic in 1975 to one of the biggest healthcare conglomerates in the region. The company is now also listed on the London Stock Exchange.<br /><br />
    Recognizing the available opportunity in pharmaceutical manufacturing and the importance of backward integration of the healthcare chain, Dr. B.R.Shetty made a planned foray into pharmaceutical manufacturing and and led to the foundation of Neopharma in 2003, Abu Dhabi’s first state-of-the-art pharmaceutical plant.</p>
</div>
<img id="aboutus-image3" src="assets/img/aboutus8.png">
</div>