<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="home-image"> -->
<div style="text-align:center">

</div>
  <div class="logo">
    <a routerLink="" rounterLinkActive="active"><img id="logo-image" src="assets/img/logo.png"></a>

  <ul class="nav">
    <li><a routerLink="" ></a></li>
    <li><a routerLink="/aboutus" routerLinkActive="active">About Us</a></li>
    <li><a routerLink="/ourbusiness" routerLinkActive="active">Our Business</a></li>
    <li><a routerLink="/ourprocess" routerLinkActive="active">Our Process</a></li>
    <li><a routerLink="/careers" routerLinkActive="active">Careers</a></li>
    <li><a routerLink="/contactus" routerLinkActice="active">Contact Us</a></li>

    <!-- <button routerLink="/contactus" routerLinkActice="active">Contact Us</button> -->
  </ul>
</div>


<router-outlet></router-outlet>
<!-- </div> -->