<div id="title">
    <h1><b>API Manufacturing</b></h1>
</div>

<div class="ourprocess-content">
    <img id="ourprocess-img" src="assets/img/ourprocess1.jpg">
    <div class="ourprocess-word">
    <p>Through strategic JV’s and partnerships, Neopharma now has a world-class API manufacturing facility in the city of Hyderabad, capable of handling new, complex and hazardous reactions. Neopharma supplies NCEs, cGMP intermediates and KSMs to global innovators. It is equipped with flexible, versatile and advanced infrastructure, tailored to fit any complex chemistry molecules. The manufacturing facilities comply with all regulatory guidelines and requirements of current Good Manufacturing Practices (cGMP) and are successfully inspected/approved by health and regulatory agencies.<br /><br />

    Our expertise in intellectual property and regulatory issues helps us consistently deliver the highest quality API's that meet or exceed regulatory standards.</p>
    </div>
</div>
<br />
<br />

<div class="total-content">
<div class="content">
<div>
    <img id="logo1" src="assets/img/ourprocess2.png">
    <h2><b>Production Blocks</b></h2>
    <li>14 blocks<br /></li>
    <li>16 acres<br /></li>
    <li>New prodct scale up plant</li>
</div>

<div>
        <img id="logo1" src="assets/img/ourprocess3.png">
        <h2><b>Manpower</b></h2>
        <li>1000 workforece<br /></li>
        <li>400+production personnel<br /></li>
        <li>100+ QA & QC personnel</li>
    </div>

    <div>
            <img id="logo1" src="assets/img/ourprocess4.png">
            <h2><b>Expansive Capacity</b></h2>
            <li>158 reactors<br /></li>
            <li>500 KL reactor volume<br /></li>
            <li>Stractegic combination of glass lined and stainless <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;steel reactors</li>
        </div>

</div>

<div class="content1">
        <div>
            <img id="logo1" src="assets/img/ourprocess2.png">
            <h2><b>Production Blocks</b></h2>
            <li>14 blocks<br /></li>
            <li>16 acres<br /></li>
            <li>New prodct scale up plant</li>
        </div>
        
        <div>
                <img id="logo1" src="assets/img/ourprocess3.png">
                <h2><b>Manpower</b></h2>
                <li>1000 workforece<br /></li>
                <li>400+production personnel<br /></li>
                <li>100+ QA & QC personnel</li>
        </div>
        
        <div>
                <img id="logo1" src="assets/img/ourprocess4.png">
                <h2><b>Expansive Capacity</b></h2>
                <li>158 reactors<br /></li>
                <li>500 KL reactor volume<br /></li>
                <li>Stractegic combination of glass lined and stainless <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;steel reactors</li>
        </div>
</div>
</div>