<div class="ourbusiness-logo1">
<img src="assets/img/ourbusiness1.png" width="80%" height="80%"/>
</div>
<h1><b>Subsidiaries</b></h1>
<div class="content1">
        <p>Neopharma Inc.<br />
        Located in New Jersey, USA, Neopharma Inc.is a 100 % subsidiary of Neopharma and was established in 2017 with the aim of building a strong franchise of specialty products and provide therapy options in the chronic care segment. Neopharma Inc. shall also be engaged in potential manufacturing and CMO partnerships in US and LATAM markets.
        </p>
<img class="logo1" src="assets/img/ourbusiness2.png">
</div>
<br />
<div class="content1">
        <p>Neopharma Japan.<br />
        Anticipating the need for new molecules and novel therapy areas, Neopharma Japan was established in October 2016, as a subsidiary of Neopharma to enable development, manufacturing and marketing of 5 – ALA based products.<br />
        Neopharma Japan’s facilities include a manufacturing facility, NeoALA Japan, in Fukuroi. Acquired from CosmoALA Japan, in 2016, NeoALA Japan focuses on R&D and manufacturing of 5 – ALA based products.
        </p>
        <img class="logo1" src="assets/img/ourbusiness3.png">
</div>